.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.pure-form.register-form {
  line-height: 3rem;
  font-size: 1.2rem;
  background-image: url('heart-icon.svg');
  background-repeat: no-repeat;
  margin: 5% 25%;
  padding: 3% 5%;
}

form.pure-form.login-form {
  line-height: 3rem;
  font-size: 1.2rem;
  background-image: url('heart-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10% 25%;
  padding: 8% 4%;
}

form.pure-form.add-issue-form {
  line-height: 3rem;
  font-size: 1.2rem;
  background-image: url('heart-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 10% 25%;
  padding: 8% 4%;
}

.pure-form-aligned textarea {
  margin: 2% 0;
}

.react-modal {
  position: static !important;
}